body {
    margin: 0;
    padding: 0;
}

.icon:hover {
    font-size: 0px;
}

.icon:hover:after {
    content: attr(data-hover);
    font-size: 12px;
}

/********************** works ******************/

.card .box {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin: 1em;
    border-radius: .3em;
}

.card .box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}

.card .box .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .box .img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.664), rgb(46, 46, 46));
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.card .box:hover .img:before {
    opacity: 1;
}

.card .box .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 1em;
}

.card .box .contenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    color: white;
}

.card .box .contenu a {
    text-transform: uppercase;
    transform: translateY(200px);
    transition: 0.1s;
}

.card .box:hover .contenu a {
    transform: translateY(0);
    transition-delay: 0.2s;
}

.card .box .contenu p {
    color: white;
    transform: translateY(200px);
    transition: 0.2s;
}

.card .box:hover .contenu p {
    transform: translateY(0);
    transition-delay: 0.3s;
}

/********************** endworks ******************/

.fontprnc {
    font-family: 'Bangers', cursive;
}


/* *******************skills ***********************/

.slide {
    margin: 0 auto;
    width: 50vw;
    height: 30vw;
    padding: 10vw;
    box-sizing: border-box;
}

.cnt {
    margin: auto;
    width: 10vw;
    perspective: 80vw;
    position: relative;
    padding-top: 80px;
}

.cnt-art {
    width: 5vw;
    height: 5vw;
    position: absolute;
    float: right;
    -webkit-animation: rotar 15s infinite linear;
            animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}

.cnt-art:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    cursor: pointer;
}

.cnt-art article {
    width: 10vw;
    height: 10vw;
}

.cnt-art article h1 {
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
}

.cnt-art article:nth-child(1) {
    transform: rotateY(0deg) translateZ(18vw);
}

.cnt-art article:nth-child(2) {
    transform: rotateY(40deg) translateZ(18vw);
}

.cnt-art article:nth-child(3) {
    transform: rotateY(80deg) translateZ(18vw);
}

.cnt-art article:nth-child(4) {
    transform: rotateY(120deg) translateZ(18vw);
}

.cnt-art article:nth-child(5) {
    transform: rotateY(160deg) translateZ(18vw);
}

.cnt-art article:nth-child(6) {
    transform: rotateY(200deg) translateZ(18vw);
}

.cnt-art article:nth-child(7) {
    transform: rotateY(240deg) translateZ(18vw);
}

.cnt-art article:nth-child(8) {
    transform: rotateY(280deg) translateZ(18vw);
}

.cnt-art article:nth-child(9) {
    transform: rotateY(320deg) translateZ(18vw);
}

.art {
    position: absolute;
    border-radius: 2px;
}

.cnt-art h1:hover {
    image-rendering: 300ms;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes rotar {
    from {
        transform: rotatey(0deg) rotateZ(35deg);
    }

    to {
        transform: rotatey(360deg) rotateZ(35deg);
    }
}

@keyframes rotar {
    from {
        transform: rotatey(0deg) rotateZ(35deg);
    }

    to {
        transform: rotatey(360deg) rotateZ(35deg);
    }
}

.liner {
    -webkit-animation: mymove 1s infinite;
            animation: mymove 1s infinite;
}

@-webkit-keyframes mymove {
    50% {
        text-shadow: 0px 0px 30px rgb(254, 254, 255);
    }
}

@keyframes mymove {
    50% {
        text-shadow: 0px 0px 30px rgb(254, 254, 255);
    }
}


/* //////////////////////:animated-text home////////////////:: */




.line {
    line-height: 60px;
}

.line:first-child {
    -webkit-animation: anim 12s infinite;
            animation: anim 12s infinite;
}

@-webkit-keyframes anim {
    0% {
        margin-top: 0;
    }

    16% {
        margin-top: -60px;
    }

    33% {
        margin-top: -120px;
    }

    50% {
        margin-top: -180px;
    }

    66% {
        margin-top: -120px;
    }

    82% {
        margin-top: -60px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes anim {
    0% {
        margin-top: 0;
    }

    16% {
        margin-top: -60px;
    }

    33% {
        margin-top: -120px;
    }

    50% {
        margin-top: -180px;
    }

    66% {
        margin-top: -120px;
    }

    82% {
        margin-top: -60px;
    }

    100% {
        margin-top: 0;
    }
}
